.App {
  display: flex;
  padding: 0 20px;
  align-items: center;
  flex-direction: column;
}

.todo-list-component {
  max-width: 500px;
}

h1 {
  text-align: center;
}

.new-item {
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #287CA5;
}

.btn-new-item {
  border: none;
  outline: none;
  color: white;
  margin-left: 8px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #287CA5;
}
